@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Poppins", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-primary: #1368ec;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #fcfbfc;
    overflow-x: hidden;
  }
}

.input-box {
  @apply w-full flex justify-between gap-3 text-sm text-black bg-slate-100/50 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none;
}

.btn-primary {
  @apply w-full text-sm font-medium text-white bg-primary shadow-lg shadow-purple-600/5 p-[10px] rounded-md my-1 hover:bg-blue-600/15 hover:text-blue-600 cursor-pointer
}

.masonry {
  /*@apply grid sm:grid-cols-2 lg:grid-cols-3 gap-4 p-8;*/
  column-count: 3;
  column-gap: 1rem;
  padding: 2rem;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;

}
.masonry-item {
  break-inside: avoid;
  margin-bottom: 1rem;
}
.masonry-item:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .masonry {
    column-count: 2;
  }
}
@media (max-width: 640px) {
  .masonry {
    column-count: 1;
  }
}

